{% extends 'base.html' %}

{% block content %}
<article class="post-container">
    <div class="post-header">
        <h2 class="post-title">{{ post.title }}</h2>
        <div class="post-dates">
            <p>Létrehozva: {{ post.created_at }}</p>
            {% if post.updated_at and post.updated_at != post.created_at %}
            <p>Frissítve: {{ post.updated_at }}</p>
            {% endif %}
        </div>
    </div>
    <div class="post-content">
        {{ post.content | safe }}
    
        {% if post.image_paths %}
            <h3>Images:</h3>
            <ul>
                {% for image_path in post.image_paths %}
                    <a target="_blank" href="{{ url_for('static', filename=image_path) }}">
                        <img src="{{ url_for('static', filename=image_path) }}" alt="Post Image">
                    </a>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
    
    <a href="{{ url_for('edit_post', post_id=post.id) }}" class="edit-link "><i class="fas fa-edit button"></i></a>
    <a href="{{ url_for('index') }}" class="edit-link"><i class="fas fa-arrow-left button"></i></a>
</article>
{% endblock %}
